body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
div {
  width: 400px;
  margin: 50px auto;
  padding: 25px;
  background-color: #eee;
  border: 5px solid;
  border-color: orangered #009fff;
  position: relative;
}
span {
  background-color: #009fff;
  display: inline-block;
  padding: 10px 0;
  width: 50px;
  color: white;
  position: absolute;
}
.top-left,
.bottom-left {
  border-right: 5px solid orangered;
}
.top-right,
.bottom-right {
  border-left: 5px solid orangered;
}
.top-left {
  left: -30px;
  top: -21.7px;
}
.bottom-left {
  left: -30px;
  bottom: -21.7px;
}
.top-right {
  right: -30px;
  top: -21.7px;
}
.bottom-right {
  right: -30px;
  bottom: -21.7px;
}
