* {
  box-sizing: border-box;
  margin: 0;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}
.arrow {
  background-color: #ddd;
  padding: 20px;
  position: relative;
  width: 500px;
}
.arrow::after {
  content: "";
  position: absolute;
  border: 20px solid transparent;
}
.top::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  border-bottom-color: #ddd;
  top: 0;
  margin-top: -40px;
}
.bottom::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  border-top-color: #ddd;
  bottom: 0;
  margin-bottom: -40px;
}
.right::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  border-left-color: #ddd;
  right: 0;
  margin-right: -40px;
}
.left::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  border-right-color: #ddd;
  left: 0;
  margin-left: -40px;
}
