* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.grid {
  background-color: #ddd;
  padding: 20px;
  width: 800px;
  height: 400px;
  margin: auto;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.grid div {
  background-color: #607d8b;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  counter-increment: ElementsCount;
  padding: 10px;
}
.grid div::before {
  content: "Element";
  margin-right: 5px;
}
.grid div::after {
  content: counter(ElementsCount);
}
