* {
  box-sizing: border-box;
  font-family: arial;
  color: white;
  font-weight: bold;
}
.grid {
  background-color: #ddd;
  padding: 20px;
  width: 800px;
  height: 400px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 15px;
}
.grid div {
  background-color: #2196f3;
  display: flex;
  justify-content: center;
  align-items: center;
}
.one {
  grid-area: 6 / 1 / span 1 / span 3;
}
.two {
  grid-area: 2 / 1 / span 1 / span 2;
}
.five {
  grid-area: 3 / 2 / span 3 / span 2;
}
.eight {
  grid-area: 1 / 1 / span 1 / span 3;
}
